<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">参加者プロフィール</h3>
  </div>
  <!-- Card body -->
      <!-- Form -->
      <div class="mb-3">
        名前
        <%= @attendee.name %>
      </div>
      <div class="mb-3">
        趣味
        <%= @attendee.hobby %>
      </div>
      <div class="mb-3">
        自己紹介  
        <%= @attendee.profile %>
      </div>
    </div>
  </div>
</div>
